<div class="container mt-2">
  <ng-container *ngIf="clients | async as listclient ;else failureOrloading" >
    <div class="card">
    <div class="card-header">Clients</div>
    <div class="card-body">
      <div *ngIf="searchFormGroup">
        <form [formGroup]="searchFormGroup" (ngSubmit)="searchClient()">
          <div class="input-group">
            <label class="input-group-text">
              mot clé :
            </label>
            <input type="text" formControlName="keyword" class="form-control">
            <button class="btn btn-info">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </form>
      </div>

      <table class="table">
        <thead>
        <tr>
          <th>ID</th><th>name</th><th>email</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of clients | async">
          <td>{{c.id}}</td>
          <td>{{c.name}}</td>
          <td>{{c.email}}</td>
          <td>
            <button (click)="deleteClient(c.id)" class="btn btn-danger">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
</div>
  </ng-container>
  <ng-template  #failureOrloading >
    <ng-container *ngIf="errMessage; else loading">
      <div class="text-danger">
        {{errMessage}}
      </div>
    </ng-container>
    <ng-template #loading>
        loading.....
    </ng-template>
  </ng-template>
    </div>
